/* GLOBAL */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  color: #292f33;
  font-family: '"Helvetica Neue",Helvetica,Arial,sans-serif', sans-serif; }

body {
  background: url('/tweetwall/content/themes/twitter-wall/images/bg-page.jpg') center top repeat;
  margin: 0;
  padding: 0;
  font-size: 14px; }

html, body {
  overflow: hidden; }

.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.clearfix {
  zoom: 1; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

a {
  color: #292f33;
  text-decoration: none; }

html, body, .wrapper {
  min-height: 100%; }

.header {
  background: url('/tweetwall/content/themes/twitter-wall/images/banner.jpg') left top no-repeat;
  background-size: contain;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 1080px;
  height: 360px; }

.container {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 1080px; }

.main-work {
  display: table;
  margin: 0;
  padding: 50px 0 0 0;
  width: 100%; }

.main {
  background: rgba(255, 255, 255, 0.5);
  display: block;
  width: 100%; }

.sidebar, .content {
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: top; }

.sidebar {
  padding: 0 20px 0 20px;
  width: 290px; }
  .sidebar img {
    background: #fff;
    display: block;
    height: 200px;
    margin: 0 5px 0 0;
    padding: 0;
    position: relative;
    width: 200px;
    padding: 10px; }
  .sidebar p {
    display: block;
    line-height: 20px;
    margin: 0;
    padding: 10px 0 0 0; }

.sidebar__profile {
  margin-bottom: 20px; }

h1 {
  display: block;
  font: 700 22px/1 '"Helvetica Neue",Helvetica,Arial,sans-serif', sans-serif;
  margin: 0;
  padding: 0; }
  h1 span {
    color: #8899a6;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0; }

.blockquote.twitter-tweet {
  display: none; }
